["admin_addPeer"
 "admin_changeLogLevel"
 "admin_generateLogBloomCache"
 "admin_nodeInfo"
 "admin_peers"
 "admin_removePeer"
 "web3_clientVersion"
 "web3_sha3"
 "net_version"
 "net_listening"
 "net_peerCount"
 "net_enode"
 "net_services"
 "eth_syncing"
 "eth_chainId"
 "eth_protocolVersion"
 "eth_coinbase"
 "eth_mining"
 "eth_hashrate"
 "eth_gasPrice"
 "eth_accounts"
 "eth_blockNumber"
 "eth_getBalance"
 "eth_getProof"
 "eth_getStorageAt"
 "eth_getTransactionCount"
 "eth_getBlockTransactionCountByHash"
 "eth_getBlockTransactionCountByNumber"
 "eth_getUncleByBlockHashAndIndex"
 "eth_getUncleByBlockNumberAndIndex"
 "eth_getUncleCountByBlockHash"
 "eth_getUncleCountByBlockNumber"
 "eth_getCode"
 "eth_sendRawTransaction"
 "eth_call"
 "eth_estimateGas"
 "eth_getBlockByHash"
 "eth_getBlockByNumber"
 "eth_getTransactionByHash"
 "eth_getTransactionByBlockHashAndIndex"
 "eth_getTransactionByBlockNumberAndIndex"
 "eth_getTransactionReceipt"
 "eth_newFilter"
 "eth_newBlockFilter"
 "eth_newPendingTransactionFilter"
 "eth_uninstallFilter"
 "eth_getFilterChanges"
 "eth_getFilterLogs"
 "eth_getLogs"
 "eth_getWork"
 "eth_submitWork"
 "clique_discard"
 "clique_getSigners"
 "clique_getSignerMetrics"
 "clique_getSignersAtHash"
 "clique_propose"
 "clique_proposals"
 "debug_accountRange"
 "debug_storageRangeAt"
 "debug_metrics"
 "debug_traceTransaction"
 "debug_traceBlock"
 "debug_traceBlockByHash"
 "debug_traceBlockByNumber"
 "miner_start"
 "miner_stop"
 "ibft_discardValidatorVote"
 "ibft_getPendingVotes"
 "ibft_getValidatorsByBlockHash"
 "ibft_getValidatorsByBlockNumber"
 "ibft_proposeValidatorVote"
 "ibft_getSignerMetrics"
 "perm_addAccountsToWhitelist"
 "perm_getAccountsWhitelist"
 "perm_removeAccountsFromWhitelist"
 "perm_addNodesToWhitelist"
 "perm_getNodesWhitelist"
 "perm_removeNodesFromWhitelist"
 "perm_reloadPermissionsFromFile"
 "txpool_besuStatistics"
 "txpool_besuTransactions"
 "eea_sendRawTransaction"
 "priv_distributeRawTransaction"
 "priv_getEeaTransactionCount"
 "priv_getPrivacyPrecompileAddress"
 "priv_getPrivateTransaction"
 "priv_createPrivacyGroup"
 "priv_deletePrivacyGroup"
 "priv_findPrivacyGroup"
 "priv_getTransactionCount"
 "priv_getTransactionReceipt"
 "rpc_modules"]
